html {
  overflow: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: slateblue;
  position: absolute;
}

.text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.text-inside {
  font-size: 44px;
  margin: 0;
  color: rgb(255, 217, 0);
}

.text-inside-small {
  font-size: 28px;
  margin: 0;
  margin-top: -5px;
  color: rgb(255, 217, 0);
}